<!--  
<ul>
  @for (producto of productos; track producto.id) {
  <li>
    <span [ngClass]="{ price: producto.precio > 100 }"> {{ producto.nombre }}</span>
    S/.{{ producto.precio }}
    @if (producto.agotado) {
    <span [ngStyle]="{ color: 'red' }">Agotado</span>
    }@else {
    <span>En oferta</span>
    }
  </li>
  }
</ul>
-->

<section class="electronics">
  @for (producto of productos; track producto.id) {
    <article class="card">
      <div class="card-image">
        <img [src]="producto.imagen" alt="{{ producto.nombre }}" />
      </div>
      <div class="card-body">
        <h3 class="card-title">{{ producto.nombre }}</h3>
        <p class="card-price">S/.{{ producto.precio }}</p>
        <div class="card-badge">
          @if (producto.agotado) {
            <span class="badge sold">Agotado</span>
          }@else {
            <span class="badge offer">En oferta</span>
          }
        </div>
      </div>
    </article>
  }

</section>
